{% extends "_layout" %}
{% set class='entry' %}

{% block content %}
  <h3>{{ entry.title|title }}</h3>
  <p class="date">Posted on {{ entry.postDate.format('F d, Y') }}</p>
  {#<p class="lead">{{ entry.intro|raw }}</p>#}
  {% for block in entry.blocks %}
    {% switch block.type %}
    {% case "code" %}
    <pre {% if block.highlightLines is not empty %}data-line="{{ block.highlightLines }}"{% endif %}><code class="prism-code language-{{ block.language }} line-numbers">{{ block.body }}</code></pre>
    {% default %}
    {{ block.body }}
    {% endswitch %}
  {% endfor %}

{% endblock %}
