{% extends "_layout" %}
{% set class='entry' %}

{% block content %}
  <h2>{{ entry.title|title }}</h2>
  <hr class="heading-line"></hr>
  <p class="date">Posted on {{ entry.postDate.format('F d, Y') }}</p>
  {#<p class="lead">{{ entry.intro|raw }}</p>#}
  {% for block in entry.blocks %}
    {% switch block.type %}
    {% case "code" %}
    <pre {% if block.highlightLines is not empty %}data-line="{{ block.highlightLines }}"{% endif %}><code class="prism-code language-{{ block.language }} line-numbers">{{ block.body }}</code></pre>
    {% default %}
    {{ block.body }}
    {% endswitch %}
  {% endfor %}

  {% if entry.bonusTip is not empty %}
    <div class="plumbing" id="bonus">
      <h3>Billy's bonus {{ entry.bonusType }} tip…</h3>

      {{ entry.bonusTip }}
    </div>
  {% endif %}

{% endblock %}
