{% extends "_layout" %}
{% set class='entry' %}

{% block content %}
  <div class="tip">
    <h1>{{ entry.title|title }}</h1>
    <p class="tip__date">Posted on {{ entry.postDate.format('F d Y') }}</p>
    {#<p class="lead">{{ entry.intro|raw }}</p>#}
    {% for block in entry.blocks %}
      {% switch block.type %}
      {% case "code" %}
      <pre {% if block.highlightLines is not empty %}data-line="{{ block.highlightLines }}"{% endif %}><code class="prism-code language-{{ block.language }} line-numbers">{{ block.body }}</code></pre>
      {% case "image" %}
      {% for image in block.images %}
        <img src="{{ image.url }}" alt="{{ image }}">
      {% endfor %}
      {% default %}
      {{ block.body }}
      {% endswitch %}
    {% endfor %}

    {# {% if entry.bonusTip is not empty %}
      <div class="plumbing" id="bonus">
        <h3>Billy's bonus {{ entry.bonusType }} tip…</h3>
        {{ entry.bonusTip }}
      </div>
    {% endif %} #}
  </div>

  <div class="latest-tips">
    <h3>Latest Tips</h3>
    {% for tip in craft.entries({section:'tips', limit:3, id:'not ' ~ entry.id}) %}
      {% include '_partials/tipCard' %}
    {% endfor %}
  </div>

{% endblock %}
