{% if tip is not defined and entry is defined %}
  {% set tip = entry %}
{% endif %}
{% if tip is defined %}
  <article>
    <h3><a href="{{ tip.url }}">{{ tip.title|title }}</a></h3>
    <p class="date">Posted on {{ tip.postDate.format('F d, Y') }}</p>
    {{ tip.intro }}
    {% if tip.blocks is not empty %}
      <p class="pull-right"><a href="{{ tip.url }}">…continue reading</a></p>
    {% endif %}
  </article>
{% endif %}