<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
    <link rel="home" href="{{ siteUrl }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:100" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url('assets/css/site.css') }}">
  </head>

  <body>
    <div class="container">

      <header>
        <h1><a href="{{ siteUrl }}">{{ siteName }}</a></h1>
      </header>

      <div class="content">
        {% block content %}
          <p>If you see me, you haven’t set your <code class="language-php">{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
          <p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
        {% endblock %}
      </div>

      <footer>
        © {{ now.year }} {{ siteName }}.
      </footer>

    </div>

    {# Prism is used for code indenting, keeeeeeeep #}
    <script src="{{ url('assets/js/prism.js') }}"></script>
    {% if entry is defined and entry.konami is not empty %}
      <script src="{{ url('scripts/') ~ "?ver=" ~ entry.id }}"></script>
    {% endif %}
  </body>
</html>