{% spaceless %}
  <!DOCTYPE html>
  <html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
  <head>
    <meta charset="utf-8"/>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
    <link rel="home" href="{{ siteUrl }}"/>
    {#<link rel="stylesheet" href="{{ url('assets/css/bootstrap.min.css') }}">#}
    {#<link rel="stylesheet" href="{{ url('assets/css/prism.css') }}">#}
  </head>

  <body>
  <!-- You don't understand why this is in the body, and that's OK -->
  <link rel="stylesheet" href="{{ url('assets/css/style.css') }}">

  <div class="container">
    <header id="header">
      <h1><a href="{{ siteUrl }}">{{ siteName }}</a></h1>
      <nav>
        <ul>
          <li><a href="{{ url('tips') }}" {% if craft.request.firstSegment== 'tips' %}class="active"{% endif %}>See All
              Tips</a>
          </li>
        </ul>
      </nav>
      <div class="clearfix"></div>
    </header>

    <main id="content" role="main" class="{{ class ?? '' }}">
      {% block content %}
        <p>If you see me, you haven’t set your
          <code class="language-php">{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
        <p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template
            Inheritance</a> documentation for an explanation.</p>
      {% endblock %}
    </main>

    <footer id="footer">© {{ now.year }} {{ siteName }}.</footer>
  </div>
  <script src="{{ url('assets/js/prism.js') }}"></script>
  </body>
  </html>
{% endspaceless %}