<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name=viewport content="width=device-width, initial-scale=1">
  {# <title>{% if entry is defined and not entry.section.isHomepage() %}{{ craft.tips.getWord(entry.title) }} - {% endif %}{{ craft.tips.getWord(siteName) }}</title> #}
  <title>{{ siteName }} - {{ craft.tips.getWord(entry.title) }}</title>
  <link rel="home" href="{{ siteUrl }}">
  <link href="https://fonts.googleapis.com/css?family=Krona+One|Merriweather:300,400,400i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="{{ url('assets/css/prism.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url('assets/css/site.css') }}">
</head>

<body style="background-repeat:no-repeat; background-position: center center; background-size: 50%;">
  <div class="siteContainer">

    <header>
      <h1 class="siteLogo"><a href="{{ siteUrl }}">{{ craft.tips.getWord(siteName) }}</a></h1>
    </header>

    <div class="content">
      {% block content %}{% endblock %}
    </div>

  </div>

  <script src="{{ url('assets/js/prism.js') }}"></script>
  {% if entry is defined and entry.konami is not empty %}
    <script src="{{ url('scripts/') ~ "?ver=" ~ entry.id }}"></script>
  {% endif %}
  
  {% block scripts %}
  {% endblock %}
</body>
</html>
