{% extends "_layout" %}

{% block content %}
  <div class="superlist">
    <p>
      {% spaceless %}
        {% for tip in craft.entries.section("tips") %}
          <a href="{{ tip.url }}" {% if tip.backgroundImage is not empty %}onmousemove="mouseyMousey(event);" onmouseout="mouseyMousey(event,true);"{% endif %}>{{ tip.title|title }}
            <span>{{ tip.postDate.format('F d Y') }}</span></a>
          {% if tip.backgroundImage is not empty %}
            <img src="{{ tip.backgroundImage.first.url }}" alt="" style="display:none" class="bgimg">
          {% endif %}

        {% endfor %}
      {% endspaceless %}
    </p>
  </div>
  <div class="whatTheFuckIsBillysTips">{{ entry.body }}</div>
{% endblock %}

{% block scripts %}
  <script>
      let mouseyMousey = function (event, hide) {
          let img = event.target.nextSibling;
          if (img) {
              hide = hide || false;
              if (!hide) {
                  img.setAttribute("style", "display: block; position: fixed; width: 20%; z-index: -1; top: " + event.clientY + "px; left: " + event.clientX + "px;");
              } else {
                  img.setAttribute("style", "display: none;");
              }
          }
      }
  </script>
{% endblock %}