{% extends "_layout" %}

{% block content %}
  <div class="superlist">
    <p>
      {% for tip in craft.entries.section("tips") %}
        <a href="{{ tip.url }}" {% if tip.backgroundImage is not empty %}onmouseover="body.style.backgroundImage = 'url({{ tip.backgroundImage.first.url }})'" onmouseout="body.style.backgroundImage = ''"{% endif %}>{{ tip.title|title }}</a>
        {% if tip.backgroundImage is not empty %}<img src="{{ tip.backgroundImage.first.url }}" alt="" style="display:none">{% endif %}
      {% endfor %}
    </p>
  </div>
  <div class="whatTheFuckIsBillysTips">{{ entry.body }}</div>
{% endblock %}
