{% extends "_layout" %}

{% block content %}
  <ul class="superlist">
    {% spaceless %}
      {% for tip in craft.entries.section("tips") %}
        <li>
          <a href="{{ tip.url }}" {% if tip.backgroundImage is not empty %}onmousemove="mouseyMousey(event);" onmouseout="mouseyMousey(event,true);"{% endif %}>{{ tip.title|title }}<span>{{ tip.postDate.format('F d Y') }}</span></a>
          {% if tip.backgroundImage is not empty %}
            <img src="{{ tip.backgroundImage.first.url }}" alt="" style="display:none" class="bgimg">
          {% endif %}
        </li>
      {% endfor %}
    {% endspaceless %}
  </ul>
  <div class="whatTheFuckIsBillysTips">{{ entry.body }}</div>
{% endblock %}

{% block scripts %}
  <script>
      let mouseyMousey = function (event, hide) {
          let img = event.target.nextSibling;
          if (img) {
              hide = hide || false;
              if (!hide) {
                  img.setAttribute("style", "display: block; position: fixed; width: 35%; z-index: -1000; top: " + event.clientY + "px; left: " + event.clientX + "px; filter: opacity(0.85);");
              } else {
                  img.setAttribute("style", "display: none;");
              }
          }
      }
  </script>
{% endblock %}