{% extends "_layout" %}

{% block content %}
  <div class="superlist">
    <p>
      {% spaceless %}
        {% for tip in craft.entries.section("tips") %}
          <a href="{{ tip.url }}" {% if tip.backgroundImage is not empty %}onmouseover="mouseyMousey(event);body.style.backgroundImage = 'url({{ tip.backgroundImage.first.url }})'" onmouseout="mouseyMousey(event,false);body.style.backgroundImage = ''"{% endif %}>{{ tip.title|title }}
            <span>{{ tip.postDate.format('F d Y') }}</span></a>
          {% if tip.backgroundImage is not empty %}
            <img src="{{ tip.backgroundImage.first.url }}" alt="" style="display:none">
          {% endif %}

        {% endfor %}
      {% endspaceless %}
    </p>
  </div>
  <div class="whatTheFuckIsBillysTips">{{ entry.body }}</div>
{% endblock %}

{% block scripts %}
  <script>
      let mouseyMousey = function (event, hide) {
          let img = event.target.nextSibling;
          hide = hide || false;
          if (!hide) {
              img.style.display = 'block';
              img.style.position = 'absolute';
              img.style.height = '20%';
              img.style.zIndex = 1;
              img.style.top = event.clientY;
              img.style.left = event.clientX;
          } else {
              img.style.display = 'none';
          }
      }
  </script>
{% endblock %}